.idea/
**/.idea/
**/target/
.DS_Store
/lab1

# lab2
/lab2/calculator/
/lab2/lifeco-basic/
/lab2/Lab2-RMI.pdf
/lab2/T4.5-DistributedObjects-RMI-RemoteRegistry.pptx

# lab3
/lab3/lifeco-basic/
/lab3/ws-quote/

# lab4
/lab4/lifeco-basic

# lab5
/lab5/lifeco-basic

# lab6
/lab6/lifeco-basic
/lab6/Lab6-Actors.docx
/lab6/~$b6-Actors.docx
