.idea
.DS_Store
lab1

# lab2
/lab2/calculator/
/lab2/lifeco-basic/
/lab2/Lab2-RMI.pdf
/lab2/T4.5-DistributedObjects-RMI-RemoteRegistry.pptx
/lab2/task2/core/target/
/lab2/task3/core/target/
/lab2/task3/auldfellas/target/
/lab2/task3/dodgygeezers/target/
/lab2/task3/girlsallowed/target/
/lab2/task4/auldfellas/target/
/lab2/task4/broker/target/
/lab2/task4/client/target/
/lab2/task4/core/target/
/lab2/task4/dodgygeezers/target/
/lab2/task4/girlsallowed/target/
/lab2/task5/.idea/
/lab2/task5/auldfellas/target/
/lab2/task5/broker/target/
/lab2/task5/client/target/
/lab2/task5/core/target/
/lab2/task5/dodgygeezers/target/
/lab2/task5/girlsallowed/target/

# lab3
/lab3/lifeco-basic/
/lab3/task1/.idea/
/lab3/task1/core/target/
/lab3/task2/.idea/
/lab3/task2/auldfellas/target/
/lab3/task2/broker/target/
/lab3/task2/client/target/
/lab3/task2/core/target/
/lab3/task2/dodgygeezers/target/
/lab3/task2/girlsallowed/target/
/lab3/task3/.idea/
/lab3/task3/auldfellas/target/
/lab3/task3/broker/target/
/lab3/task3/client/target/
/lab3/task3/core/target/
/lab3/task3/dodgygeezers/target/
/lab3/task3/girlsallowed/target/
/lab3/task4/.idea/
/lab3/task4/auldfellas/target/
/lab3/task4/broker/target/
/lab3/task4/client/target/
/lab3/task4/core/target/
/lab3/task4/dodgygeezers/target/
/lab3/task4/girlsallowed/target/
/lab3/task5/.idea/
/lab3/task5/auldfellas/target/
/lab3/task5/broker/target/
/lab3/task5/client/target/
/lab3/task5/core/target/
/lab3/task5/dodgygeezers/target/
/lab3/task5/girlsallowed/target/
/lab3/ws-quote/